@import "~bootstrap/scss/bootstrap";
@import "variables";

.middle-body-section {
 min-height: calc(100vh - 60px);
 padding-top: 50px;
}
footer {
  background: var(--bs-gray-400);
  padding: 0.5rem;
}
.navbar-dark{
  a{
    color: #fff;
    padding-left: 20px;
    text-decoration: none;
  }
}